html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1C1C1C;
    font-family: inter, sans-serif;
    /* overflow: hidden; */
}

h1 {
    font-weight: 800;
    font-size: 95.57px;
    margin: 0;
}

h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.03em;
    /* border: 2px solid green; */
    margin-top: 53px;
}

input {
    all: unset;
    width: 400px;
    height: 90px;
    background: none;
    color: white;
    font-size: 97.57px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    /* border: 2px solid green; */
}

::placeholder {
    color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.unit {
    font-weight: 600;
    margin-bottom: 5px;
    /* border: 2px solid green; */
}

#length-el, #volume-el, #mass-el {
    margin-bottom: 25px;
    color: #4E4E4E;
    /* border: 2px solid green; */
}

.wrapper {
    min-width: 550px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid white;
}

.wrapper header {
    min-height: 290px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    color: white;
    border-radius: 17px 17px 0 0;
    /* border: 2px solid orange; */
}

.wrapper .results {
    background: white;
    padding: 40px 20px 15px 20px;
    border-radius: 0 0 15px 15px;
    /* border: 2px solid cyan; */
}